@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

[role="article"] a:hover {
    text-decoration: underline;
}

.intro h2 {
    font-style: italic; /* changes font style f*/
    font-family: 'Satisfy', cursive; /* changes font style */
    color: rgb(226, 226, 226); /* changes color */
    background: url(../img/zen.svg); 
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center; /* sorts text to center of page */
    position: relative;
    right: -25px;
    justify-content: space-evenly; /* spaces text evenly */
    letter-spacing: 0em;
    word-spacing: 0.1em;
    padding: 0em;
    font-size: 1.25em;
}
header {
    background: url(/img/huntington.png);
    padding-top: 3em;
    padding-bottom: 3em;
    background-size: auto;
    border: none;
    margin: -2%;
    margin-bottom: 5%;
}
.intro h1 {
    font-weight: lighter;
    font-size: 2.25em;
    letter-spacing: 0.025em;
    align-items: middle;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    text-shadow:
    4px 4px 2px rgb(0, 0, 0);
}

.summary p {
    position: relative; 
	top: -50px;
}

.main.supporting {
    position: relative;
    margin-top: 5%;
}

.benefits h3 {
    position: relative; 
        top: 15px;
    margin-top: -3%;
    }

.participation h3 {
    position: relative; 
        top: 15px;
    }
.participation p {
    color: white;
    text-decoration: none;
}

.participation a {
    color: black;
    text-decoration: none;
    
}

.participation {
    background: url(/img/bamboo.png); background-color: #84a98c;
    padding: 0em;
    margin-top: 5%;
}

.benefits {
    background: url(/img/bamboo.png); background-color: #84a98c;
    padding-bottom: 0.25em;
    margin-top: 2.5%;
}

.benefits p {
    color: white;
}

[role="contentinfo"] a:hover {
    text-decoration: underline;
}

.requirements > [role="contentinfo"] {
    background-color: #84a98c;
    font-size: 2em;
    text-align: center;
    padding-bottom: 2.5em;
}

.requirements a {
    font-family: 'Satisfy', cursive;
    color: white;
    text-decoration: none;
}

.requirements {
    margin-top: 5%;
    font-family: 'Satisfy', cursive;
}

[footer] a:hover {
    text-decoration: underline;
}

footer {
    background: content-box;
    background-color: #52796f;
    text-align: center;
    font-size: 2em;
    word-spacing: 1em;
    padding: -2.5em;
    margin-top: -2.5%;
}

footer a {
    color: white;
}

/* navigation border */

.sidebar ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.wrapper li {
    border-bottom: 0.5px solid rgb(170, 170, 170);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1em;
   
   }

.design-archives {
    margin-top: -5%;
    padding-top: 0em;
}

.design-name {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.designer-name {
    color: gray;
    font-family: 'IBM Plex Mono', monospace;
}

.next, .viewall {
    font-family: 'IBM Plex Mono', monospace;
    color: gray;
}

li {
    display: list-item;
    float: center;
    text-align: center; 
}

[role="navigation"] ul{
    margin-top: -5em;
    column-count: 2;
    column-gap: -1em;
    column-rule-width: 0em;
    vertical-align: top;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background: url(/img/bamboo.png);
    background-color:  #cad2c5 ;
    padding: 5em;
    width: 100px;
    line-height: 4em;
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
}

.zen-resources ul{
    margin: -2em;
    margin-top: -3em;
    column-count: 2;
    column-gap: -1em;
    column-rule-width: 2em;
    vertical-align: top;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background: url(/img/bamboo.png); background-color: #84a98c ;
    padding-left: 2em;
    padding-right: 2em;
    width: 100px;
    line-height: 4em;
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
}