@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


header {
    background: url(/huntington.png);
    padding-top: 3em;
    padding-bottom: 3em;
    background-size: auto;
    border: none;
    margin: -2%;
    margin-bottom: 5%;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none;
    font-size: medium;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

[role="article"] a:hover {
    text-decoration: underline;
}

.intro h2 {
    font-style: italic; /* changes font style f*/
    font-family: 'Satisfy', cursive; /* changes font style */
    color: rgb(226, 226, 226); /* changes color */
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center; /* sorts text to center of page */
    position: relative;
    right: -25px;
    justify-content: space-evenly; /* spaces text evenly */
    letter-spacing: 0em;
    word-spacing: 0.1em;
    padding: 0em;
    font-size: 1.25em;
}

.intro h1 {
    font-weight: lighter;
    font-size: 2.25em;
    letter-spacing: 0.025em;
    align-items: middle;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    text-shadow:
    4px 4px 2px rgb(0, 0, 0);
}

.summary p {
    position: relative; 
	margin-top: 5%;
}

.preamble {
    position: relative; 
	margin-top: 5%;
}


.main.supporting {
    position: relative;
    margin-top: 5%;
}

.benefits h3 {
    position: relative; 
        top: 15px;
    margin-top: -3%;
    }

.participation h3 {
    position: relative; 
        top: 15px;
    }
.participation p {
    color: white;
    text-decoration: none;
}

.participation a {
    color: black;
    text-decoration: none;
    
}

.participation {
    background: url(/bamboo.png); background-color: #84a98c;
    padding: 0em;
    margin-top: 5%;
}

.benefits {
    background: url(/bamboo.png); background-color: #84a98c;
    padding-bottom: 0.25em;
    margin-top: 2.5%;
}

.benefits p {
    color: white;
}

[role="contentinfo"] a:hover {
    text-decoration: underline;
}

.requirements > [role="contentinfo"] {
    background-color: #84a98c;
    text-align: center;
    padding: 2.5em;
}

[role="contentinfo"] a {
    font-size: 5em;
    font-family: 'Satisfy', cursive;
    color: white;
    text-decoration: none;
}

[role="contentinfo"] {
    font-family: 'IBM Plex Mono', monospace;
    color:gray;
    font-size: x-small;
}

.requirements {
    margin-top: 5%;
    font-family: 'Satisfy', cursive;
}

/* footer  */

footer {
    background-color: #52796f;
    text-align: center;
    font-size: 2em;
    word-spacing: 1em;
    padding: 15px;
    margin-top: -2.5%;
}

footer a {
    color: white;
}

footer a:hover { 
    color:rgb(192, 192, 192);
}

/* the columns and grid section below footer  */

.design-selection li {
    border-bottom: 0.5px solid rgb(170, 170, 170);
}

.wrapper li {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1em;
}

.design-selection {
    margin-top: -5em;
    padding-top: 5em;
}

.design-name {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.designer-name {
    color: gray;
    font-family: 'IBM Plex Mono', monospace;
}

li {
    display: list-item;
    float: center;
    text-align: center; 
}

.design-selection h3, .design-archives h3, .zen-resources h3 {
    display: none;
}

[role="navigation"] ul{
    column-count: 2;
    column-gap: -2em;
    column-rule-width: 0em;
    vertical-align: top;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background-color:  #cad2c5 ;
    padding: 5em;
    width: 100%;
    line-height: 4em;
    display: inline-block;
}

.zen-resources ul{
    overflow: hidden;
    width: 100%;
    background-color: rgba(138,188,159,0.5);
    background-image: url(/Users/codenationstudent/Downloads/mc-2-4-zen-garden-files/img/bamboo.png);
    margin: -2em;
    margin-top: 0em;
    column-count: 2;
    column-gap: -1em;
    column-rule-width: 1em;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background: url(/bamboo.png); background-color: #84a98c ;
    padding: 2em;
    line-height: 4em;
    display: inline-block;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
